<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ7FLR3OVAmHHg-5YoAuJr-zmOLEbWz6c</string>
	<key>GCM_SENDER_ID</key>
	<string>215157630471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.il.aragon.app</string>
	<key>PROJECT_ID</key>
	<string>aragon-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>aragon-platform.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215157630471:ios:f131bef2dd5091e2da2ca2</string>
</dict>
</plist>